@CHARSET "ISO-8859-1";


.advance-menu{
	padding-top: 15px;
	clear: both;
}
.advance-menu a.menu-advance-href{
	background: #3e95d7;
	color: #fff;
	display: inline-block;
	padding: 7px 15px;
	text-decoration: none;
	margin-bottom: 15px;
}
.advance-menu .menu-config-content{
	overflow: hidden;
}
.sw-activation-form{
	background: rgba(0,0,0,0.5);	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #999;
	z-index: 999999;
}
.sw-activation-form .activation-form-inner{
	width: 50%;
	background: #fff;
	box-shadow: ( 0 0 5px #000 );
	margin: 7% auto;
	padding: 50px 50px 30px;
}
.sw-activation-form h2{
	margin-top: 0;
	color: #ff5c00;
	border-bottom: 1px solid #dedede;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.sw-activation-form form .sw-activation ul li + li{
	margin-top: 30px;
}
.sw-activation-form form .sw-activation ul li label{
	overflow: hidden;
}
.sw-activation-form form .sw-activation ul li label input{
	float: left;
	margin: 2px 10px 0 0;
}
.sw-activation-form form .sw-activation ul li label .activation-content{
	overflow: hidden;
}
.sw-activation-form form .sw-activation ul li label .activation-content h3{
	margin-top: 0;
	margin-bottom: 7px;
	font-size: 16px;
}
.sw-activation-form .submit input{
	background: #ff5c00;
	padding: 5px 25px;
	text-shadow: none;
	color: #fff;
	height: auto;
	border: 0;
	box-shadow: none;
	text-transform: uppercase;
	font-weight: bold;
}
.sw-activation-form .submit input:hover{
	background: #333;
}
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}