@import "bootstrap/responsive-utilities.less";
@import "responsive/min-1200.less";
@import "responsive/max-1199.less";
@import "responsive/min-992-max-1199.less";
@import "responsive/max-991.less";
@import "responsive/min-768-max-991.less";
@import "responsive/max-767.less";
@import "responsive/max-640.less";
@import "responsive/min-481-max-640.less";
@import "responsive/max-480.less";
@import "responsive/max-360.less";
@import "responsive/max-320.less";
@import "responsive/mobile.less";

@media (min-width: 1368px){
	.wp-comingsoon{
		min-height:980px;
	}
}
@media (max-width: 1366px){

}
@media (min-width: 1200px) and (max-width: 1366px) {
	
}

@media (min-width: 1200px) { 
	.products-loop.grid >li.col-lg-12:nth-child(2n),.products-loop.grid >li.col-lg-6:nth-child(2n+1),.products-loop.grid >li.col-lg-4:nth-child(3n+1), .products-loop.grid >li.col-lg-3:nth-child(4n+1), .products-loop.grid >li.col-lg-24:nth-child(5n+1), .products-loop.grid >li.col-lg-2:nth-child(6n+1), {
		clear: both;
	}
	.col-lg-24{
		width: 20%;
	}
	.clear_lg {
		clear: both;
	}
	.rtl{
		[class*="col-lg-"], [class*="col-md-"], [class*="col-sm-"], [class*="col-xs-"] {
			float: right;
		}
	}
}
@media (max-width: 1199px) and ( min-width: 992px ) {
	.products-loop.grid >li.col-md-12:nth-child(2n),.products-loop.grid >li.col-md-6:nth-child(2n+1),.products-loop.grid >li.col-md-4:nth-child(3n+1), .products-loop.grid >li.col-md-3:nth-child(4n+1), .products-loop.grid >li.col-md-24:nth-child(5n+1), .products-loop.grid >li.col-md-2:nth-child(6n+1), {
		clear: both;
	}
	.clear_md {
			clear: both;
	}
	.col-md-24{
		width: 20%;
	}
	.rtl{
		[class*="col-md-"], [class*="col-sm-"], [class*="col-xs-"] {
			float: right;
		}
	}
	.wpb_revslider_element .rev_slider_wrapper{
		ul > li.tp-revslider-slidesli  .tp-parallax-wrap .tp-caption.rev-btn{
			display:none !important;
		}
	}
}

@media (max-width: 991px) and ( min-width: 768px ) { 
	.products-loop.grid >li.col-sm-12:nth-child(2n),.products-loop.grid >li.col-sm-6:nth-child(2n+1),.products-loop.grid >li.col-sm-4:nth-child(3n+1), .products-loop.grid >li.col-sm-3:nth-child(4n+1), .products-loop.grid >li.col-sm-24:nth-child(5n+1), .products-loop.grid >li.col-sm-2:nth-child(6n+1), {
		clear: both;
	}
	.col-sm-24{
		width: 20%;
	}
	// .clear_sm {
		// clear: both;
	// }
	#cpanel-form a.cpanel-control {
		display: none;
	}
	.rtl{
		[class*="col-sm-"], [class*="col-xs-"] {
			float: right;
		}
	}
}

@media ( min-width: 768px ){
	.woocommerce table.shop_table_responsive, .woocommerce-page table.shop_table_responsive{
		border-collapse: collapse;
		tr{
			display: table-row;
			td{
				display: table-cell;
				border: 1px solid #ddd;
			}
		}
	}
}

@media (max-width: 767px) { 
	.clear_xs {
		clear: both;
	}
	.header-style1, .header-style2, .header-style3, .header-style6, .header-style7, .header-style10{
		.search-cate{
			position: static;
			.autusin_top .top-form.top-search{
				left: 0;
				right: 0;
				width: 100%;
			}
		}
	}
	.header-style3, .header-style6, .header-style7, .header-style10{
		.header-mid{
			position: relative;
			.search-cate{
				position: static;
				.autusin_top .top-form.top-search{
					top: 0;
				}
			}
		}
	}
	
	.sidebar-row{
		display: -webkit-flex;
		display: -ms-flex; // IE11
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		aside#left{
			order: 1;
			width: 100%;
		}
		aside#right{
			order: 1;
			width: 100%;
		}
		> div{
			width: 100%;
		}
	}
	.woocommerce-account #contents .entry-content .woocommerce-MyAccount-content,
	.woocommerce-account #contents .entry-content nav.woocommerce-MyAccount-navigation{
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	
	.rtl{
		[class*="col-xs-"] {
			float: right;
		}
	}
}
@media (max-width: 479px) {
	[class*="col-xs-"]{
		float: none;
		width:auto;
	}
	.products-wrapper .products-loop >li.product-category{
		float: left;
		width: 50%;
		&:nth-child(2n+1){
			clear: both;
		}
	}
	.rtl{
		[class*="col-xs-"] {
			float: none;
		}
		.products-wrapper .products-loop >li.product-category{
			float: right;
		}
	}
}
@media (max-width: 360px) {

}

